#bg-im{
    background-image: url('./bg-texture.png');
    background-color: rgba(25, 36, 44, 0.945);
    color: rgb(152, 160, 187);
}
#inp{
    background-color: rgba(55, 69, 95, 0.603);
    color: white;
}
/* #inp2{
    background-color: rgba(55, 69, 95, 0.603);
    color: white;
} */

/* Right div */

#rightDiv{
    background-color: #3d5561;
    color: white;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#blink {
    animation: blink 2s infinite;
}
